.App {
  text-align: center;
}
.modal-footer{
  display: flex;
  justify-content: flex-end;
}

.spinner-container{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}